# Ambiente virtual do Python
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo

# Logs e arquivos temporários
*.log
*.tmp

# Configurações locais
.env
.env.local

# Dependências instaladas localmente
*.sqlite3
instance/

# IDEs e editores (VS Code, PyCharm, etc.)
.vscode/
.idea/
*.swp
